<section class="main">
  <div class="container main__container">
    <div class="main__info">
      <div class="main__title">Мягкие французские пироженки Macaroons</div>
      <div class="main__description">Побалуйте себя и своих близких самыми вкусными и ароматными домашними
        пироженками Macaroon!
      </div>
      <div class="main__action">
        <button class="btn main__btn" (click)="scrollTo(macaroonsElement)"
                btnBackground
                [btnDefaultBgColor]="'#2c2c2c'"
                [btnHoverBgColor]="'#B7BC01'">
          Выбрать макарун</button>
      </div>
    </div>
    <div class="main__image">
      <img class="main__image-img" src="assets/img/main.png" alt="Коробка с макарунами">
    </div>
  </div>
</section>

<section class="advantages" id="about-us" #aboutSection>
  <div class="container advantages__container">
    <div class="advantages__info-wrapper">
      <div class="advantages__info">
        <div class="advantages__title">Мы печём для вас вкуснейшие макаруны уже более 10 лет</div>
        <div class="advantages__description">Все пироженки мы готовим только из натуральных и качественных
          продуктов, без консервантов, ароматизаторов, красителей. Используем в приготовлении сливочное масло
          82,5%, без дрожжей, маргарина, разрыхлителей и улучшителей муки.
        </div>
      </div>
      <div class="advantages__image">
        <img class="advantages__image-img" src="assets/img/macaroon.png" alt="">
      </div>
    </div>
    <div class="advantages__items">
      <advantage *ngFor="let advantage of advantages" [advantage]='advantage'></advantage>
    </div>
  </div>
</section>

<section class="macaroons" id="macaroons" #macaroonsElement>
  <div class="container macaroons__container">
    <div class="macaroons__header">Выберите свой макарун</div>
    <div class="macaroons__items">

      <macaroon *ngFor="let macaroon of macaroons" [macaroon] = "macaroon" (addToCartEvent)="showAlert($event); addToCart(macaroon, orderElement)"></macaroon>

    </div>
  </div>
</section>

<section class="order" id="order" #orderElement>
  <div class="container order__container">
    <div class="order__image">
      <img src="assets/img/order.png" alt="Макаруны разноцветные" class="order__image-img">
      <div class="order__animated-strawberry-first">
        <img src="assets/img/strawberry1.png" alt="Клубника анимированная большая" class="order__strawberry-img">
      </div>
    </div>
    <div class="order__info">
      <div class="order__title">Закажите макарун!</div>
      <div class="order__text">Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего
        пекаря!
      </div>
      <div class="order__form">
        <div class="order__form-label">
          Ваш выбор
        </div>
        <input id="choice" class="base-input  order__base-input" type="text"
               placeholder="Напишите, что хотите заказать.." [(ngModel)]="formValues.macaroonTitle">
        <div class="order__form-label">
          Заполните данные для заказа
        </div>

        <input id="name" class="base-input  order__base-input" type="text" placeholder="Ваше имя" [(ngModel)]="formValues.name">
        <input id="phone" class="base-input  order__base-input" type="tel"
               placeholder="+375 (__) ___ - __ - __" [(ngModel)]="formValues.phone">
        <button class="btn order__btn-long" (click)="createOrder()" btnBackground>Оформить заказ</button>
        <div class="order__animated-strawberry-second">
          <img src="assets/img/strawberry2.png" alt="Клубника анимированная маленькая" class="order__strawberry-img">
        </div>
      </div>
    </div>
  </div>
</section>


<div class="cart" *ngIf="cartShow">
  <div class="cart__quantity">{{cartService.countQuantity}}</div>
  <div class="cart__image">
    <img src="assets/img/cart.png" alt="Иконка корзины" class="cart__image-img">
    <div class="cart__text-wrapper">
      <div class="cart__text">{{cartService.countPrice | currencyFormat}}</div>
    </div>
  </div>


</div>
